<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="./../../style.css">
</head>
<body>
    <div class="container">
        <h1>Edit <%= article.name %></h1>
        <form action="./<%= article.id %>" method="POST">
            <%- include("_formFields.ejs") %>
        </form>
    </div>
</body>
</html>