<form action="./newStore" method="POST">
    <label for="newStore">Nieuwe winkel:</label><br>
    <input type="text" class="inputs" id="newStore" name="newStore">
    <br><input type="submit" id="submitButton">
</form>