<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instellingen</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <br><a href="/">Home</a> <br><br>
        <%- include("newStore.ejs") %>
        <% stores.forEach(store => { %>
            <h2><%= store.store %></h2>
            <form action="./deleteStore/<%= store.store %>?_method=DELETE" method="POST">
                <button>delete</button>
            </form>
        <% }) %>
    </body>
</html>