body{
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    /* background-color: #4F6CFF; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

body a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-flow: column;
}

.articles{
    padding: 15px;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px;
    /* background-color: #4E67E2; */
    background-color: #0077ffcb;
    border-radius: 15px;
    box-shadow: 2px 0px 3px #949494, 2px 2px 5px #949494;
    margin-left: 50px;
}

.articles a{
    color: white;
}

.articlesWrapper{
    padding-top: 15px;
    padding-bottom: 30px;
    /* background: linear-gradient(#6A82FB, #ac4ef8); */
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    /* min-height: 90vh; */
    flex-grow: 1;
}

#shoppingTitle{
    text-align: center;
}

#mainNav{
    height: 8vh;
}

#mainNav ul{
    display: flex;
    list-style-type: none;
}

#mainNav li{
    flex: 1;
}