body{
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    /* height: 100%; */
}

body a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.articles{
    margin: auto;
    padding: 15px;
    width: 78%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #0077ffcb;
    box-shadow: 2px 0px 3px #949494, 2px 2px 5px #949494;
    display: flex;
    opacity: 0;
    animation: landingAnimation 1s forwards;
}

.articles a{
    flex: 4;
    color: white;
}

.articlesWrapper{
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    flex: 1 1 auto;
}

#shoppingTitleWrapper{
    text-align: center;
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

#shoppingTitle{
    flex: 1;
}

#shoppingForm{
    flex: 1;
    display: flex;
}

#filterWrapper{
    flex: 1;
    margin: auto;
}

#doneWrapper{
    flex: 1;
    margin: auto;
}

#mainNav{
    text-align: center;
    flex: 0 1 auto;
}

#mainNav ul{
    display: flex;
    list-style-type: none;

}

#mainNav li{
    flex: 1;
}

#mainNav a{
    padding: 5px 5px 5px 5px;
}

.fa-gear{
    font-size: 23px;
}

#actionButtonWrapper{
    flex: 1;
    margin: auto;
    display: flex;
    font-size: 23px;
}

#editButtonWrapper{
    flex: 1;
    margin: auto;
    padding: 0;
}

#editButton{
    border: 2px solid white;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
    margin: auto;
}

#deleteFormWrapper{
    flex: 1;
    margin: 0;
    padding: 0;
}

#deleteButton{
    font-size: 23px;
    padding: 8px 8px 8px 8px;
    margin-left: 8px;
    border: none;
    background-color: #FF6C6C;
    color: white;
    border-radius: 7px;
}

#done{
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

#newForm{
    margin-top: 30px;
    width: 90%;
    margin: auto;
}

#submitButton{
    padding: 7px 7px 7px 7px;
    background-color: #0077ffcb;
    border-radius: 7px;
    color: white;
    border: none;
}

.inputs{
    background-color: #F8F8F8;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    /* opacity: 0; */
    /* animation: landingAnimation 1s forwards; */
}

.wrapper2{
    margin-top: 50px;
    width: 90%;
    margin: auto;
}

@keyframes landingAnimation{
    0%{ 
        opacity: 0;
        transform: translateY(150px);
    } 100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .animation{
    opacity: 0;
    animation: landingAnimation 1s forwards;
} */